/*--CSS--*/
html 
{
    margin: 0; padding: 0;
    background-image: url("images/bimage.jpg");
    background-size: cover;
    text-align: center;
}
form
{
    width: 100%;
    margin: 10px;
    border: 10px saddlebrown;
    box-sizing: border-box;
    text-align: center;
    text-align: center;

}
input
{
    width: 100%;
    align-items: center;
    display: block;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
}
img
{
    border-radius: 10px;
    width: 800px;
    height: 100px;
}
h2
{
    font-family: 'Trade Winds', cursive;
    font-size: 60px;
    margin-bottom: 15px;
    
}
body
{
    background-color: #e0e4e350;
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}